body,html{
    height: 100%;
    font-family: "Courier New";
}
.hero-image{
    background-image: url("pexels-julia-m-cameron-4144100.jpg");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}
.button {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.navbar a{
    font-family: 'Courier New', Consolas, cursive;font-size: 19px;
}
.nav-link span{
    font-family: 'Comfortaa', sans-serif, serif;font-size: 19px;color: black;
}
.nav-link i{
    font-family: 'Comfortaa', sans-serif, serif;font-size: 19px;color: black;
}
.nav-link a{
    font-family: 'Comfortaa', sans-serif, serif;font-size: 19px;color: black;
}
.navbar {
    max-height: 30px;
}
.dropdown-menu a{
    font-family: 'Comfortaa', sans-serif, serif;font-size: 14px;color: black;
}

.navbar-expand{
    min-height: 8px;
    color: #2a2730
}
.navbar-nav a{
    font-size: 20px;
}
.navbar li {
    text-align: center;
    color: black;
}

.navbar-brand {
    padding: 0px;
    height: 20px;
    line-height: 10px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 0px;
    padding: 9px 10px !important;
}
.carousel-caption{
    min-width: 500px;
}
.h2{
    font-family: Roboto;
    font-size: 14px;
    text-align: center;
}
